a:link, a:visited, a:active {

  text-decoration:none;
}

#imgNav{
  width:100%
}

p{font-family: sans-serif;}
h2{font-family: sans-serif;}
h5{font-family: sans-serif;}

body{
  margin:auto;
}

@media all and (min-width:421px) and (max-width:768px){
  img{
    width: 80%;
  }

}

.login{

  display: flex;
  justify-content: center;
  
  

}
.crearUsuario{

  display: flex;
  justify-content: center;

}
#logo {
  margin-top: 10px;
  width: 30px;
  height: auto;
}

#logo-footer {
  margin-left: 10px;
  padding: 5px;
  width: 50px;
  height: auto;
}

#error404 {
  width: 100%;
  height: 400px;
}

#parrafo-footer {
  margin-top: -10px;
}

#experiencia-foote {
  width: 30px;
  height: auto;
}
#social-link a {
  text-decoration: none;
}

.redSocial {
  width: 20px;
  height: auto;
  text-decoration: none;
}

.mi-card{
  display: flex;
  justify-content: space-between;
  text-decoration: none;

}

.mi-badge-jugado{
  padding: 8px;
  background-color: rgb(177, 233, 177);
}

.mi-badge-pendiente{
  padding: 8px;
  color: white;
  background-color: rgb(163, 162, 162);
}

.fieldset{

  width: 400px;
}

#footer{

  
  position: bottom;

}

#crearCitas{

  margin-top: 20px;

}



.textUsuario{

  margin-top: 2%;
}



#iconAdmin{

  margin-top: 15%;
  font-size: 150px;
}

.imgUsersPlus{

  transition: all 1s;
  color: black;

}

.imgUsersPlus:hover{

  
  transform: scale(1.3);
  color: rgb(0, 99, 16);
}

.imgUsers{

  transition: all 1s;
  color: black;

}

.imgUsers:hover{

  
  transform: scale(1.3);
  color: rgb(3, 12, 138);
}

.imgUsersDelete{

  transition: all 1s;
  color: black;

}

.imgUsersDelete:hover{

  
  transform: scale(1.3);
  color: rgb(116, 10, 10);
}

#bottonCerrarSesion{

  margin-left: 50%;

}



.AtrasIcon{

  margin-left: 1%;
  margin-top: 1%;
  font-size: 15px;
  transition: all 1s;
  color: #0d6efd;

}

.AtrasIcon:hover{

  font-size: 18px;
  color: rgb(14, 31, 177);
  transform: scale(1.3);

}

.userAdmin{

  font-size: 15px;
  margin-bottom: 2%;

}

.TituloTabla{

  background-color: #0d6efd;
  color: white;
 
}

#botonEliminar{

  margin-top: -40%;

}

#botonHistorial{

  margin-left: 1.5%;

}







